
.box{

background-color: black;
background-color: black;
height: 53px;
padding: 6px;
margin-top: -7px;
}

.iconsimplon{

	height: 5px;
    margin-top: 1px;
    margin-left: 16px;
}

p{

	color: white;
    margin-top: -42px;
    padding-left: 54px;
    font-size: 14px;

}
.button{
	    
	height: 27px;
    float: right;
    margin: 707px;
    margin-top: -16px;
    font-size: 11px;
    padding-left: 9px;
}

.background{

	background-image: url(background-top1.jpg)no-repeat;

}

	





   